@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

:root {
	/* Font Color */
	--clr-text-default: #556376;
	--clr-text-table-name: #f46524;
	--clr-text-column-name: #334960;

	/* Background Color */
	--clr-white-50: #f7f7f7;
	--clr-white-100: #d9d9d9;
	--clr-pink-50: #e6cff2;
	--clr-pink-100: #bb49f6;
	--clr-green-50: #d4edbc;
	--clr-green-100: #5c9723;
	--clr-red-50: #ff9393;
	--clr-red-100: #b10202;
	--clr-blue-50: #bfe1f6;
	--clr-blue-100: #0e6ba4;
	--clr-light-pink-50: #ffcfc9;
	--clr-light-pink-100: #f94f3a;
	--clr-light-blue-50: #c6dbe1;
	--clr-light-blue-100: #258ca9;
	--clr-sea-green-50: #72dbfd;
	--clr-sea-green-100: #215a6c;
	--clr-orange-50: #ffc8aa;
	--clr-orange-100: #ec6319;
	--clr-purple-50: #7871aa;
	--clr-purple-100: #4e5283;

	/* Font Family */
	--ff-default: 'Jockey One', Arial, sans-serif;
	--ff-title: 'Jolly Lodger', Arial, sans-serif;

	/* Font Size - Headings */
	--fs-heading--2: clamp(0.8681rem, 0.8361rem + 0.1597vi, 0.96rem);
	--fs-heading--1: clamp(1.0417rem, 0.9867rem + 0.2751vi, 1.2rem);
	--fs-heading-0: clamp(1.25rem, 1.1631rem + 0.4343vi, 1.5rem);
	--fs-heading-1: clamp(1.5rem, 1.3697rem + 0.6515vi, 1.875rem);
	--fs-heading-2: clamp(1.8rem, 1.6111rem + 0.9446vi, 2.3438rem);
	--fs-heading-3: clamp(2.16rem, 1.8926rem + 1.3371vi, 2.9297rem);
	--fs-heading-4: clamp(2.592rem, 2.2202rem + 1.859vi, 3.6621rem);
	--fs-heading-5: clamp(3.1104rem, 2.6006rem + 2.5489vi, 4.5776rem);
}

/* Make a padding and margin of everything by default 0 */
* {
	margin: 0;
	padding: 0;
	color: #000;
}

/* Apply this font family to everything, except .title class */
*:not(.title) {
	font-family: var(--ff-default);
}

body {
	width: 100vw;
	height: 100vh;
	background-color: var(--clr-white-100);
}
