.utils {
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
}

.saving {
	display: flex;
	padding: 0.5rem;
	align-items: center;
	justify-content: center;
	color: var(--clr-text-default);
	font-size: var(--fs-heading--2);
}

.container {
	padding: 1rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 0.25rem;
	background-color: var(--clr-white-50);
}

.title_container {
	width: 100%;
	padding: 1rem 0;
}

.title {
	font-size: var(--fs-heading-1);
	color: var(--clr-text-table-name);
}

@media only screen and (max-width: 1000px) {
	.utils {
		width: 100%;
		margin: 0 1rem;
	}

	.container {
		width: 100%;
		margin: 0 2rem;
		overflow: scroll;
	}
}

@media only screen and (min-width: 1000px) {
	.utils {
		width: 50%;
	}

	.container {
		width: 50%;
	}
}
