.utils {
	width: 50%;
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
}

.table {
	width: 50%;
	padding: 1rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 0.25rem;
	background-color: var(--clr-white-50);
}

.title_container {
	width: 100%;
	padding: 1rem 0;
}

.title {
	font-size: var(--fs-heading-1);
	color: var(--clr-text-table-name);
}

.thead,
.tbody {
	width: 100%;
	align-items: center;
}

.tbody {
	margin-top: 1rem;
}

.row {
	display: flex;
	justify-content: space-between;
}

.column {
	width: 100%;
	font-size: var(--fs-heading--1);
}

.column_name {
	font-weight: 500;
	text-align: left;
	padding-left: 0.5rem;
	color: var(--clr-text-column-name);
	border-top: 2px solid var(--clr-text-default);
}

.column_data {
	display: flex;
	text-align: left;
	align-items: center;
	padding-left: 0.5rem;
	margin-bottom: 0.5rem;
	justify-content: space-between;
	color: var(--clr-text-default);
	border-bottom: 2px solid var(--clr-text-default);
}

/* Category colors */
.pink {
	color: var(--clr-pink-100);
	background-color: var(--clr-pink-50);
}

.green {
	color: var(--clr-green-100);
	background-color: var(--clr-green-50);
}

.red {
	color: var(--clr-red-50);
	background-color: var(--clr-red-100);
}

.blue {
	color: var(--clr-blue-100);
	background-color: var(--clr-blue-50);
}

.light_pink {
	color: var(--clr-light-pink-100);
	background-color: var(--clr-light-pink-50);
}

.light_blue {
	color: var(--clr-light-blue-100);
	background-color: var(--clr-light-blue-50);
}

.sea_green {
	color: var(--clr-sea-green-50);
	background-color: var(--clr-sea-green-100);
}

.orange {
	color: var(--clr-orange-100);
	background-color: var(--clr-orange-50);
}
